@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

*::after, *::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 1rem 0;
    padding: 0;
    color: white;
}

h1{
    font-size: 3rem;
}

.chartContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chartColumnLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chartColumnRight{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.daysContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrapperDays{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rowContainer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.containerSpots{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerCircular{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 30px;
}

.containerDrawer{
    right: 0;
    margin-right: 40px;
    position: fixed;
    height: 100vh;
    z-index: 100;
}

.wrapperDrawer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}